*{
    margin: 0 auto;
    padding: 0;
}
html, body {
    height: 100%;
}

body {
    max-width: 800px;
    font-family: gotham, arial, helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0 auto !important;
}
#titulo-principal{
    text-align: center;
}
#titulo-tabela{
    text-align: center;
}

.cl-container{
    width: 800px;
    height: 100px;
    /*background-color: aqua;*/
    display: flex; 
    justify-content: space-evenly;
    align-items: center;   
}
table{
    width: 100%;
    border-collapse: collapse;
}
table, th, td{
    border: 1px solid black;
}
th{
    text-align: center;
    background-color: #4caf50;
}
td{
    height: 20px;
    vertical-align: bottom;
}
.maxWidth{
    max-width: 800px;
    width: 100%;
}
.form{
    background-color: bisque;
    text-align: center;
}
.form-group{
    text-align: left;
    margin-top: 10px;
}
#bt-salvar{
    background-color: rgb(81, 188, 196);
    position: relative;
    color: white;
    margin-bottom: 10px;
}
